{% load crispy_forms_tags %}


<div class="container-fluid mt--7">

  <div class="row">
    <div class="col-xl-10 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">
                {%if res == "Request" %}
                Make an Exchange
                {% endif %}
                {{res}}...</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post"
                {% if res==
          "Note" or res == "Experience" %}
          enctype="multipart/form-data"
          {% endif %}
          >
          {% csrf_token %}
          {{ form|crispy }}
          <div>
            {%if res == "Request" %}
            <button type="submit" class="btn btn-primary mt-4">Propose Exchange!</button>
            {% else %}
            <button type="submit" class="btn btn-primary mt-4">Add</button>
            {% endif %}

          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
