{% extends 'layouts/base.html' %}
{% load humanize %}
{% block title %}Received Exchange Request {% endblock title %}

{% block content %}
<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row justify-content-evenly">
                <div class="col-sm-8">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h2 class="card-title text-uppercase mb-0"> Here you can see other student proposed
                                        Exchange Requests.</h2>
                                    <span class="h4 font-weight-bold text-muted mb-0">You can accepted it or not.</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                        <i class="fas fa-exchange-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    {% for req in reqs %}
    <div class="row align-items-center" id="{{req.id}}">
        <div class="col-xl-6">
            <div class="card shadow">
                <div class="card-header bg-white">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0 text-primary"> Notification from {{ req.user_requester }}</h3>
                        </div>
                        <div class="col-4 text-right">
                            {{ req.date|naturaltime }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--    <h5 class="card-title">Special title treatment</h5>-->
                    <p class="card-text"><strong>{{ req.user_requester.username }}</strong>
                        wants exchange his {{ req.proposed_note }} with your {{ req.requested_note }}</p>
                    <div class="row align-items-center">
                        <div class="col-2 text-center">
                            <form method='POST' id="accept-form" action="{% url 'content:request-action' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{req.id}}" name="req"/>
                                <input class="btn btn-outline-success" type='submit' value='Accept' id='accept'/>
                            </form>
                        </div>
                        <div class="col-2 text-center">
                            <form method='POST' id="reject-form" action="{% url 'content:request-action' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{req.id}}" name="req"/>
                                <input class="btn btn-outline-danger" type='submit' value='Reject' id='reject'/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row align-items-center">
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header">
                    <h1>You have no requests.</h1>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    <script type="text/javascript">
    var frm = $('#accept-form');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize() + "&action=accept",
            success: function (data) {
                  $("#"+data.id).fadeOut(300, function() { $(this).remove(); });

            },
            error: function(data) {
                //$("#MESSAGE-DIV").html("Something went wrong!");
                alert("error"+data);
            }
        });
        return false;
    });

    var rej_frm = $('#reject-form');
    rej_frm.submit(function () {
        $.ajax({
            type: rej_frm.attr('method'),
            url: rej_frm.attr('action'),
            data: rej_frm.serialize() + "&action=reject",
            datatype: "json",
            success: function (data) {
                  $("#"+data.id).fadeOut(300, function() { $(this).remove(); });
                  console.log("rejected");

            },
            error: function(data) {
                //$("#MESSAGE-DIV").html("Something went wrong!");
                alert("error"+data);
            }
        });
        return false;
    });

</script>
{% endblock %}





