{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>Exchange request</h2>

<ul>
    {% for req in reqs %}
    <li id="{{req.id}}">
        <p>{{ req.user_requester }} wants exchange his {{ req.proposed_note }} with your {{ req.requested_note }}</p>
        <p>
        <form method='POST' id="accept-form" action="{% url 'content:request-action' %}">
            {% csrf_token %}
            <input type="hidden" value="{{req.id}}" name="req"/>
            <input class="btn btn-success" type='submit' value='Accept' id='accept'/>
        </form>
        <form method='POST' id="reject-form" action="{% url 'content:request-action' %}">
            {% csrf_token %}
            <input type="hidden" value="{{req.id}}" name="req"/>
            <input class="btn btn-danger" type='submit' value='Reject' id='reject'/>
        </form>
        </p>
        <p>{{ req.date|naturaltime }}</p>
    </li>
    {% empty %}
    <li>You have no unread notification.</li>
    {% endfor %}
</ul>

<script type="text/javascript">
    var frm = $('#accept-form');
    frm.submit(function () {
        console.log("dioporco");
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize() + "&action=accept",
            success: function (data) {
                  $("#"+data.id).fadeOut(300, function() { $(this).remove(); });

            },
            error: function(data) {
                //$("#MESSAGE-DIV").html("Something went wrong!");
                alert("error"+data);
            }
        });
        return false;
    });

    var rej_frm = $('#reject-form');
    rej_frm.submit(function () {
        $.ajax({
            type: rej_frm.attr('method'),
            url: rej_frm.attr('action'),
            data: rej_frm.serialize() + "&action=reject",
            datatype: "json",
            success: function (data) {
                  $("#"+data.id).fadeOut(300, function() { $(this).remove(); });
                  console.log("rejected");

            },
            error: function(data) {
                //$("#MESSAGE-DIV").html("Something went wrong!");
                alert("error"+data);
            }
        });
        return false;
    });

</script>
{% endblock %}





