{% extends 'base.html' %}

{% block content %}
<h2>Your Degree Courses</h2>

<ul>
    {% for course, res in courses_list.items %}
    <li>{{ course }}
        <h4><span class="badge badge-primary badge-pill">{{ res.0.count }}</span> Notes about your courses:
        </h4>
        <ul>
            {% if res.0.count > 0 %}
            {% for note in res.0 %}
            <li><a href="{% url 'content:note-detail' pk=note.pk %}"> {{ note }} </a></li>

            {% endfor %}
            {% else %}
            <li> No related notes.</li>
            {% endif %}
        </ul>
        <h4><span class="badge badge-primary badge-pill">{{ res.1.count }}</span> Experience about your
            courses:</h4>
        <ul>
            {% if res.1.count > 0 %}
            {% for ex in res.1 %}
            <li><a href="{% url 'content:experience-detail' pk=ex.pk %}"> {{ ex }} </a></li>

            {% endfor %}
            {% else %}
            <li> No related experiences.</li>
            {% endif %}
        </ul>
    </li>

    {% endfor %}
</ul>

{% endblock %}
