{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h2>Exchange request</h2>

<ul>
    {% for n in notifs %}
    <li id="{{ n.id }}">
        <p>{{ n }}</p>
        <p>{{ n.date|naturaltime }}</p>
        <p>
            <button onclick="deleteNotif({{ n.id }})" class="btn btn-primary">Viewed</button>
        </p>
    </li>
    {% empty %}
    <li>You have no unread notification.</li>
    {% endfor %}
</ul>

<script type="text/javascript">
    function deleteNotif(id) {
        console.log(id);
        $.ajax({
            type: "POST",
            url: "{% url 'content:notif-delete' %}" ,
            data: {"id": id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function (data) {
                console.log("anotherdioporco");
                $("#"+data.id).fadeOut(600, function() { $(this).remove(); });

            },
            error: function(data) {
                //$("#MESSAGE-DIV").html("Something went wrong!");
                alert("error"+data);
            }
        });
    }


</script>
{% endblock %}





