<!--   Core   -->
<script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>

<!--   G.Maps   -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!--   Argon JS   -->
<script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>

<script type="text/javascript">
    $(function () {
        $('#sidenav-collapse-main > ul > li').removeClass('active')
        $('#sidenav-collapse-main > ul > li > a').removeClass('active')

        var path = location.pathname;
        var arrai = path.split('/');

        var dotClass = arrai.pop();
        if (dotClass == "") {
            dotClass = arrai.pop();
        }
        var filter = '.' + dotClass;

        $(filter).parent().addClass('active');
        $(filter).addClass('active');
    });

</script>