{% extends 'layouts/base.html' %}

{% block title %} Your Courses {% endblock title %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row justify-content-evenly">
                <div class="col-sm-8">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h2 class="card-title text-uppercase mb-0">Resources related to your Courses</h2>
                                    <span class="h4 font-weight-bold text-muted mb-0">Here you can access Notes and Experience</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                        <i class="fas fa-book-open"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    {% for course, res in courses_list.items %}
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead>
                        <tr>
                            <th colspan="6">
                                <div class="card-header border-0">
                                    <h3 class="mb-0">{{ course }}</h3>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        {% include "course_tables_include.html" with res_type="note" res=res.0 %}
                        {% include "course_tables_include.html" with res_type="experience" res=res.1 %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
