{% extends 'layouts/base.html' %}

{% block title %} Your Experiences {% endblock %}


{% block content %}

<!-- Header -->
<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row justify-content-evenly">
                <div class="col-sm-8">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h2 class="card-title text-uppercase mb-0">Your Experiences</h2>
                                    <span class="h4 font-weight-bold text-muted mb-0">The Experiences that you wrote</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                        <i class="ni ni-book-bookmark"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Your Experiences</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        {% include "course_tables_include.html" with res_type="experience" res=object_list no_h=True %}
                    </table>
                </div>
                <div class="card-footer py-4">
                    <a href="{% url 'content:experience-add'%}"
                       class="btn btn-icon btn-3 btn-primary">
                        <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                        <span class="btn-inner--text"> Write a new experience </span>
                    </a>
                </div>

            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script type="text/javascript">
       function deleteItem(url,id) {
       console.log(url);

        if (confirm("Are you sure?")) {
            console.log("confirmed");
            $.ajax({
                url: url ,
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                type: "POST",
                datatype: "json",
                success: function (data) {

                    $("#"+id).fadeOut(600, function() { $(this).remove(); });
                },
                error: function(data) {

                    alert("error"+data);
                    console.log("error"+data);
                }
            });

            }
            else
            {
                console.log("not");
                return false;
            }
        }
</script>
{% endblock javascripts %}
